################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DotNetPrerender/DotNetOpen.PrerenderModule/obj/Debug
/src/DotNetPrerender/DotNetOpen.PrerenderModule/obj/Debug
bin/
obj/
.vs/